@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clip-beer {
    clip-path: circle(40% at 50% 50%);
  }
  .clip-beer-30 {
    clip-path: circle(30% at 50% 50%);
  }
  .clip-nonagon {
    clip-path: circle(66.8% at 50% 50%);
  }
}

body {
  font-family: "Poppins", sans-serif;
}
.rec-dot_active {
  background-color: #efb810 !important;
  box-shadow: 0 0 1px 3px #efb810 !important;
}
.rec-dot:focus,
.rec-dot:hover {
  box-shadow: 0 0 1px 3px #efb810 !important;
}
.rec-dot_active:focus,
.rec-dot_active:hover {
  background-color: #efb810 !important;
  box-shadow: 0 0 1px 3px #efb810 !important;
}

.rec-arrow {
  background-color: #efb810 !important;
  transition: all 0.3s ease;
  font-size: 1.1rem !important;
  color: white !important;
  width: 1.7rem !important;
  height: 1.7rem !important;
  min-width: 1.7rem !important;
  line-height: 1.7rem !important;
}

.rec-arrow:hover:not(:disabled) {
  transform: scale(1.2);
}
